<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

        
        <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        	<property name="ignoreUnresolvablePlaceholders" value="true"></property><!-- 忽略不能处理的占位 -->
        	<property name="locations">
        		<list>
        			<value>classpath:settings.properties</value>
        		</list>
        	</property>
        </bean>
        <!-- 如下配置知道如何连接数据库 -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        	<property name="driverClassName" value="${db.driverClassName}"></property>
        	<property name="url" value="${db.url}"></property>
        	<property name="username" value="${db.username}"></property>
        	<property name="password" value="${db.password}"></property>
        	<property name="initialSize" value="3"></property>
        	<property name="minIdle" value="3"></property>
        	<property name="maxActive" value="20"></property>
        	<property name="maxWait" value="60000"></property>
        	<property name="filters" value="stat"></property>
        </bean>
        <!-- 如下配置知道sql放置位置，以及如何连接数据库 -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
        </bean>
        <!-- 连接数据库类放置的位置 -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="com.mmall.dao"></property>
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        </bean>
        
        <!-- tx_事务相关-->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        
        <tx:annotation-driven transaction-manager="transactionManager" />
        
        <!-- druid -->
        <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
        	<property name="slowSqlMillis" value="3000"></property>
        	<property name="logSlowSql" value="true"></property>
        	<property name="mergeSql" value="true"></property>
        </bean> 
        
        <bean id="wall-filter" class="com.alibaba.druid.wall.WallFilter">
        	<property name="dbType" value="mysql"></property>
        </bean>

    
 
        
         
        
</beans>