<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="utopia.dao.TbPermissionMapper">
  <resultMap id="DefaultResultMap" type="utopia.model.TbPermission">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="permission_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="permission_context" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operation_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Default_Column_List">
    id, permission_name, permission_context, parentId, operation_time, operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="DefaultResultMap">
    select 
    <include refid="Default_Column_List" />
    from tb_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="utopia.model.TbPermission">
    insert into tb_permission (id, permission_name, permission_context, 
      parentId, operation_time, operator
      )
    values (#{id,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionContext,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{operationTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="utopia.model.TbPermission">
    insert into tb_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionContext != null">
        permission_context,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionContext != null">
        #{permissionContext,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="utopia.model.TbPermission">
    update tb_permission
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionContext != null">
        permission_context = #{permissionContext,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="utopia.model.TbPermission">
    update tb_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_context = #{permissionContext,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>