<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.TbVillaMapper">
  <resultMap id="BaseResultMap" type="com.mmall.model.TbVilla">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operation_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="add_userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="villa_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="villa_price" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="storeId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="imgPath" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmall.model.TbVilla">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operation_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="add_userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="villa_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="villa_price" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="storeId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="imgPath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="villa_description" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, operation_time, add_userid, villa_name, villa_price, storeId, imgPath
  </sql>
  <sql id="Blob_Column_List">
    villa_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_villa
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_villa
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.model.TbVilla">
    insert into tb_villa (id, operation_time, add_userid, 
      villa_name, villa_price, storeId, 
      imgPath, villa_description)
    values (#{id,jdbcType=INTEGER}, #{operationTime,jdbcType=TIMESTAMP}, #{addUserid,jdbcType=INTEGER}, 
      #{villaName,jdbcType=VARCHAR}, #{villaPrice,jdbcType=VARCHAR}, #{storeid,jdbcType=INTEGER}, 
      #{imgpath,jdbcType=VARCHAR}, #{villaDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.TbVilla">
    insert into tb_villa
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="addUserid != null">
        add_userid,
      </if>
      <if test="villaName != null">
        villa_name,
      </if>
      <if test="villaPrice != null">
        villa_price,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="imgpath != null">
        imgPath,
      </if>
      <if test="villaDescription != null">
        villa_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserid != null">
        #{addUserid,jdbcType=INTEGER},
      </if>
      <if test="villaName != null">
        #{villaName,jdbcType=VARCHAR},
      </if>
      <if test="villaPrice != null">
        #{villaPrice,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="villaDescription != null">
        #{villaDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.TbVilla">
    update tb_villa
    <set>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserid != null">
        add_userid = #{addUserid,jdbcType=INTEGER},
      </if>
      <if test="villaName != null">
        villa_name = #{villaName,jdbcType=VARCHAR},
      </if>
      <if test="villaPrice != null">
        villa_price = #{villaPrice,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        imgPath = #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="villaDescription != null">
        villa_description = #{villaDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmall.model.TbVilla">
    update tb_villa
    set operation_time = #{operationTime,jdbcType=TIMESTAMP},
      add_userid = #{addUserid,jdbcType=INTEGER},
      villa_name = #{villaName,jdbcType=VARCHAR},
      villa_price = #{villaPrice,jdbcType=VARCHAR},
      storeId = #{storeid,jdbcType=INTEGER},
      imgPath = #{imgpath,jdbcType=VARCHAR},
      villa_description = #{villaDescription,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.TbVilla">
    update tb_villa
    set operation_time = #{operationTime,jdbcType=TIMESTAMP},
      add_userid = #{addUserid,jdbcType=INTEGER},
      villa_name = #{villaName,jdbcType=VARCHAR},
      villa_price = #{villaPrice,jdbcType=VARCHAR},
      storeId = #{storeid,jdbcType=INTEGER},
      imgPath = #{imgpath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>